// .nigth-sky{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.nigth-sky__container {
  min-width: 290px;
  margin-bottom: 25px;
}

.night-sky__stars {
  border-radius: 50%;
  border-color: #171327;
  border: 3px solid;

  height: 270px;
  width: 270px;
  margin: auto auto;
}
