// .nigth-sky{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.nigth-sky__container {
  
  margin-bottom: 25px;
}

.night-sky__stars {
  border-radius: 50%;
  border-color: #171327;
  border: 3px solid;
  margin: 0 auto;

  margin-bottom: 25px;

  height: 270px;
  width: 270px;
}
