body {
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  padding: 0 auto;
  margin: 0 auto;
  max-width: 480px;
  padding: 60px 0;
}

.text{
  text-align: center;
  color: #fff;
}

.text--titles{
  font-size: 20px;
  margin-bottom: 15px;
}

.text--txt{
  letter-spacing: 0.03em;
  line-height: 18px;
}